.brand {
  font-size: 25px;
  font-weight: bold;
}

.brand a:hover {
  text-decoration: none;
  border: none;
}

.navLinks a {
  text-decoration: none;
  padding: 3px;
  margin: 3px 40px 3px 0;
}

.navLinks a:hover {
  background-color: rgb(209, 207, 207);
  border-radius: 10px;
  text-decoration: none;
}

.navLinks > a.active {
  position: relative;
}

.navLinks > a.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 20px;
}
