.header {
  border-bottom: 1px black solid;
  font-size: 40px;
}

.header img {
  width: 80px;
  height: 50px;
  position: absolute;
  right: 1px;
  top: 8px;
  margin: 0;
}

.image img {
  width: 100px;
  height: 100px;
}

.line {
  border-color: black;
  width: 100%;
  height: 7px;
}
